* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
li {
  list-style: none;
}

p {
  margin: 10px 0;
}
a,
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #7ab81a;
  transition: all 0.3s;
}
a:hover {
  color: purple;
}
.text-center {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-container {
  padding: 4rem 2rem;
  width: 100%;
}
.container {
  margin: 2rem;
}
.user-avatar {
  height: 100px;
  width: 100px;
  margin: 15px;
}
span.forks,
span.issues {
  margin-left: 15px;
}
.btn {
  background: greenyellow;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 25px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background: purple;
  color: white;
}
.issue-wrapper {
  padding: 0 2rem;
  width: 50%;
}
.item {
  margin: 30px 0;
}
.item .user-avatar {
  height: 40px;
  width: 40px;
}
.username-form input[type="text"] {
  height: 48px;
  width: 50%;
  min-width: 200px;
  padding-left: 20px;
  border: 1px solid greenyellow;
  color: black;
}
.username-form button {
  height: 48px;
  padding: 0 30px;
  background: greenyellow;
  border: 1px solid greenyellow;
  text-transform: uppercase;
  transition: all 0.3s;
}

.username-form button:hover {
  background-color: purple;
  color: white;
}

@media screen and (max-width: 739px) {
  p,
  h3 {
    overflow: auto;
  }
  .main-container {
    padding: 2rem 1rem;
  }
  .container {
    margin: 1rem 0;
  }
  .issue-wrapper {
    padding: 0.5rem;
  }
  .user-avatar {
    height: 50px;
    width: 50px;
  }
  .modal-wrapper {
    position: fixed;
    display: none;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .issue-wrapper .item {
    flex-direction: column;
  }
  .repo-wrapper {
    width: 100% !important;
    margin: 1rem 0;
  }
  .issue-wrapper {
    padding: 1rem 0.5rem;
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 6;
  }
}
